<!DOCTYPE html>
{% extends 'dashboard.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Category Details</h4>
                    <div class="table-responsive">
                      <table class="table table-hover table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Description</th>
                            <th>Options</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in contact %}
                          <tr>
                            <td>{{i.Full_Name}}</td>
                            <td>{{i.Email}}</td>
                            <td>{{i.Mobile}}</td>
                            <td style="min-width:500px;word-wrap:break-word;white-space:normal;">{{i.Description}}</td>
                            <td>
                               
                                <a href="{% url 'delete_contact_details' con_id=i.id %}"  class="btn btn-danger">Delete</a>
                            </td>
                           
                          </tr>

                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
</body>
</html>
{% endblock %}